.banner .nav li {
  @extend .nav-item;
}
// .banner .nav a {
//   @extend .nav-link;
// }
.banner {
  color: white;
  position: relative;
  z-index: 10;
  a {
    color: white;
  }
  height: 58px;
  background: black;
  @include media-breakpoint-up(sm) {
    background: transparent;
    height: 143px;
  }
  .custom-logo-link { 
    float: left;
    padding-top: 13px;
    @include media-breakpoint-up(sm) {
      padding-top: 0;
    }
    img {
      width: 203px;
      @include media-breakpoint-up(md) {
        width: auto;
      }
      @include media-breakpoint-up(lg) {
        width: 363px;
      }
    }
  }
  .top-links {
    height: 46px;
    padding-top: 5px;
    display: none;
    border-bottom:1px solid #fff;
    margin-bottom: 10px;
    @include font-size(12); 
    @include media-breakpoint-up(lg) {
      @include font-size(14);
    }
    @include media-breakpoint-up(sm) {
      display: block;
    }

    .social-channels {
      float:left;
      padding-top: 4px;
      @include font-size(20);
      @include media-breakpoint-up(md) {
        @include font-size(23);
        padding-top: 3px;
      }
    }
    .nav-secondary {
      font-weight: bold;
      float: right;
      padding-top: 9px;

      @include media-breakpoint-up(lg) {
        padding-top:5px;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      li {
        float: left;
        padding-left: 15px;
      }
    }
  }
  .actions {
    float: right;
    @include media-breakpoint-up(md) {
      padding-top: 5px;
    }
    @include media-breakpoint-up(lg) {
      padding-top: 10px;
    }
    a {
      display: inline-block;
      margin-left: 20px;
      float: left;
    }
    .cta {
      display: none;
      @include media-breakpoint-up(sm) {
        display: inline-block;
      }
      
    }
    .toggle {
      @include font-size(30);
      padding-top: 5px;
      @include media-breakpoint-up(sm) {
        display: inline-block;
        padding-top: 3px;
        line-height: 1;
      }

    }
  }
}
