html {
    font-size: 62.5%
}

body {
    @include bentonReg();
    @include font-size(14);
    @include media-breakpoint-up(md) {
        @include font-size(16);
    }
    @include media-breakpoint-up(lg) {
        @include font-size(19);
    }
}

p, ol, ul, dl {
    margin-bottom: 1.7em;
}

h1,
h2,
h3 {
    font-family: 'EksellDisplay';
}

h1 {
    text-transform: capitalize;
    @include font-size(25);
    @include media-breakpoint-up(sm) {
        @include font-size(44);
    }
    @include media-breakpoint-up(lg) {
        @include font-size(60);
    }
}

.subhead {
    @include bentonBd();
    @include font-size(18);
    @include media-breakpoint-up(md) {
        @include font-size(22);
    }
    @include media-breakpoint-up(lg) {
        @include font-size(26);
    }
    margin-bottom: 10px;
    margin-bottom: 1rem;
}

.bold, b, strong {
    @include bentonBd();
}

i, em {
    @include bentonIt();
}

i strong, i bold, em strong, em bold,
strong i, bold i, strong em, bold em {
  @include bentonBdIt();
}

/* Default styles */

/* unvisited link */
/*a:link {
    text-decoration: underline;
}

a:visited {
    text-decoration: underline;
}
a:hover, a:active {
    text-decoration: none;
    color: $color-text;
} */

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

iframe{
  border:0;
}

/* common styles to pages and posts */
.entry-content, .page-content {
  .gallery {
    margin-bottom: 1.7em;
    @extend .row;
    .gallery-item {
      margin-bottom: 15px;
      .gallery-caption {
        @extend .small;
        line-height: normal;
        display: block;
        padding-top: .5em;
      }
    }
    &.gallery-columns-1 {
      .gallery-item {
        @extend .col-12;
      }  
    }
    &.gallery-columns-2 {
      .gallery-item {
        @extend .col-md-6;
      }  
    }
    &.gallery-columns-3 {
      .gallery-item {
        @extend .col-md-4;
      }  
    }
    &.gallery-columns-4 {
      .gallery-item {
        @extend .col-md-3;
      }  
    }
    &.gallery-columns-6 {
      .gallery-item {
        @extend .col-md-2;
      }  
    }
  }
  img, figure {
    max-width: 100%;
    height: auto;
    &.alignleft {
      padding-right: 20px;
      padding-bottom: 5px;
    }
    &.alignright {
      padding-left: 20px;
      padding-bottom: 5px;
    }
    &.alignnone {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}

/*Formatting for the WYSIWYG and posts and pages body formatting for pages and posts */ 
.content {
  .main {
          h2, h3, h4, h5, h6 {
                line-height: 1.5;
                color:$color-text;
            }
            h2 {
                @include bentonBd();
                @include font-size(20);
                line-height: 1.3;
                @include media-breakpoint-up(md) {
                    @include font-size(24);
                }
                @include media-breakpoint-up(lg) {
                     @include font-size(36);
                }
                &.page-subheader {
                  color: $color-mission;
                  margin-bottom: 2em;
                  @include font-size(16);
                  @include bentonReg();
                  line-height: 1.5;
                  @include media-breakpoint-up(md) {
                      @include font-size(20);
                  }
                  @include media-breakpoint-up(lg) {
                       @include font-size(24);
                  }
              }
                
            }
            h3 {
                @include bentonBd();
                @include font-size(18);
                line-height: 1.3;
                @include media-breakpoint-up(md) {
                    @include font-size(20);
                }
                @include media-breakpoint-up(lg) {
                     @include font-size(24);
                }
            }
            h2, h3 {
              &.card-title {
                  font-family: 'EksellDisplay';
                  font-weight: normal;
                  line-height: 1.1;
                }
            }
            h4 {
                @include bentonBd();
                @include font-size(19);
            }
            blockquote {
                position: relative;
                @include bentonIt();
                color: $color-mission;
                &:before {
                    position:absolute;
                    content: '“';
                    @include font-size(24);
                    left: -13px;
                    top: -2px;
                }

            }
            table {
                margin: 1em 0 2em 0;
                tr {
                    th, td {
                        padding: 10px;
                        vertical-align: top;
                        border: 1px solid $divider;

                    }
                }
            }
            figure {
                margin: 1em 0 2em 0;
                max-width: 100%;
                .wp-caption-text {
                    @include bentonIt();
                    @include font-size(14);
                    color: $color-dark-grey;
                }
            }
        }
}


.image-credit {
    z-index: 20;
    position: absolute;
    font-size: 12px;
    opacity: 1;
    right: 5%;
    bottom: 5%;
    @extend em;
    display: none;
    @include media-breakpoint-up(sm) {
      display: block;
    }
}

.no-gutters {
  padding: 0;
}
.parallax-mirror {
  display: none;
}

/************ PAGINATION *****************/
.pagination {
  width: 100%;
  .nav-links {
    margin: 50px auto;
    span, a {
      font-size: 1.5em;
      display: inline-block;
      padding: 10px;
      @extend .bold;
    }
  }
}

.sticky-container {
  max-width: 1110px;
  margin: 0 auto;
  padding-bottom: 20px;
  @include media-breakpoint-up(sm) {
    padding-bottom: 0;
  }
  .row {
    align-items: center;
  }
}
.sticky {
-webkit-transition: background .2s linear;
-moz-transition: background .2s linear;
-ms-transition: background .2s linear;
-o-transition: background .2s linear;
transition: background .2s linear;
   @include media-breakpoint-up(sm) {
    padding-top: 10px;
    padding-bottom: 15px;
  }
}
.stuck {
    position: fixed;
    @extend .container;
    background-color: #000;
    -webkit-box-shadow: 0 12px 28px 0 rgba(0,0,0,.4);
    box-shadow: 0 12px 28px 0 rgba(0,0,0,.4);
    width: 100%;
    top: 0;
    left: 0;
}
.exit-message {
  background-color: white;
  padding: 30px;
  text-align: center;
  h2 {
    font-size: 3rem;
  }
  p {

  }
}