html {
    font-size: 62.5%
}

body {
    @include bentonReg();
    @include font-size(14);
    @include media-breakpoint-up(md) {
        @include font-size(16);
    }
    @include media-breakpoint-up(lg) {
        @include font-size(19);
    }
}

p {
    margin-bottom: 1.7em;
}

h1,
h2,
h3 {
    font-family: 'EksellDisplay';
}

h1 {
    @include font-size(25);
    @include media-breakpoint-up(sm) {
        @include font-size(44);
    }
    @include media-breakpoint-up(lg) {
        @include font-size(60);
    }
}

.subhead {
    @include bentonBd();
    @include font-size(16);
    @include media-breakpoint-up(md) {
        @include font-size(18);
    }
    @include media-breakpoint-up(lg) {
        @include font-size(21);
    }
    margin-bottom: 10px;
    margin-bottom: 1rem;
}

.stuck {
    position: fixed;
    top: 0;
}