html {
    font-size: 62.5%
}

body {
    @include bentonReg();
    @include font-size(14);
    @include media-breakpoint-up(md) {
        @include font-size(16);
    }
    @include media-breakpoint-up(lg) {
        @include font-size(19);
    }
}

p, ol, ul, dl {
    margin-bottom: 1.7em;
}

h1,
h2,
h3 {
    font-family: 'EksellDisplay';
}

h1 {
    text-transform: capitalize;
    @include font-size(25);
    @include media-breakpoint-up(sm) {
        @include font-size(44);
    }
    @include media-breakpoint-up(lg) {
        @include font-size(60);
    }
}

.subhead {
    @include bentonBd();
    @include font-size(16);
    @include media-breakpoint-up(md) {
        @include font-size(18);
    }
    @include media-breakpoint-up(lg) {
        @include font-size(21);
    }
    margin-bottom: 10px;
    margin-bottom: 1rem;
}

.bold, b, strong {
    @include bentonBd();
}

i, em {
    @include bentonIt();
}

i strong, i bold, em strong, em bold,
strong i, bold i, strong em, bold em {
  @include bentonBdIt();
}

/* Default styles */

/* unvisited link */
/*a:link {
    text-decoration: underline;
}

a:visited {
    text-decoration: underline;
}
a:hover, a:active {
    text-decoration: none;
    color: $color-text;
} */

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* common styles to pages and posts */
.entry-content, .page-content {
  .gallery {
    margin-bottom: 1.7em;
    @extend .row;
    .gallery-item {
      margin-bottom: 15px;
      .gallery-caption {
        @extend .small;
        line-height: normal;
        display: block;
        padding-top: .5em;
      }
    }
    &.gallery-columns-1 {
      .gallery-item {
        @extend .col-12;
      }  
    }
    &.gallery-columns-2 {
      .gallery-item {
        @extend .col-md-6;
      }  
    }
    &.gallery-columns-3 {
      .gallery-item {
        @extend .col-md-4;
      }  
    }
    &.gallery-columns-4 {
      .gallery-item {
        @extend .col-md-3;
      }  
    }
    &.gallery-columns-6 {
      .gallery-item {
        @extend .col-md-2;
      }  
    }
  }
  img {
    width: 100%;
    height: auto;
  }
}

.image-credit {
    z-index: 20;
    position: absolute;
    font-size: 12px;
    opacity: 1;
    right: 5%;
    bottom: 5%;
    @extend em;
    display: none;
    @include media-breakpoint-up(sm) {
      display: block;
    }
}

.parallax-mirror {
  display: none;
}

/************ PAGINATION *****************/
.pagination {
  .nav-links {
    margin: 50px auto;
    span, a {
      font-size: 1.5em;
      display: inline-block;
      padding: 10px;
      @extend .bold;
    }
  }
}

.stuck {
    position: fixed;
    top: 0;
}