// Colors
$brand-primary:         #27ae60;

$color-text:            #4A4A4A;
$color-primary-header:  white;

//header
$color-header-text:     white;
$color-header-links:    white;
$color-header-mobile-bg:black;
$color-header-separator:white; 

//footer
$color-footer-bg:       #DBDBDB;
$color-footer-header:   #A5A4A6;


//slide cards
$color-slide-bg:        white;
$color-slide-text:      #5F5F5F;
$color-slide-headline:  black;
$color-slide-subhead:   #222222;
$color-slide-separator: #9B9B9B;





$fa-font-path:          '~font-awesome/fonts';


@mixin font-size($size) {
  font-size: $size * 1px;
  font-size: $size * 0.1rem;
}