// Colors
$brand-primary: #2447AB;
$color-text: #4A4A4A;
$color-primary-header: white;
$color-mission: #2B68A9;
$divider: #e9e9e9;

//header
$color-header-text: white;
$color-header-links: white;
$color-header-mobile-bg:black;
$color-header-separator:white;
$color-header-alertbg: #033EFB;

//footer
$color-footer-bg: #DBDBDB;
$color-footer-header: #A5A4A6;
$color-footer-cta: #2447AB;
$color-footer-links: black;
$color-footer-separator:#979797;

//slide cards
$color-slide-bg: white;
$color-slide-text: #5F5F5F;
$color-slide-headline: black;
$color-slide-subhead: #222222;
$color-slide-separator: #9B9B9B;

//other items
$color-exhibit-infobg: #1C1C1D;
$color-visitplanbg: #74479C;
$color-eventinfobg: #50E3C2;
$color-grey: #CCCCCC;
$color-dark-grey: #8d8d8d;
$blog-press-features: #373737;
$color-card-overlay : rgba(0,0,255, 0.5);
$fa-font-path: '~font-awesome/fonts';

//Links
$link-color: $brand-primary;
$link-hover: #000000;

//
@font-face {
    font-family: 'EksellDisplay';
    src: url('../fonts/EksellDisplayWeb-Medium.eot');
    src: url('../fonts/EksellDisplayWeb-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/EksellDisplayWeb-Medium.woff2') format('woff2'), url('../fonts/EksellDisplayWeb-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//BentonSans
@mixin bentonReg() {
    font-family: benton-sans, sans-serif;
    font-style: normal;
    font-weight: 500;
}

@mixin bentonIt() {
    font-family: benton-sans, sans-serif;
    font-style: italic;
    font-weight: 500;
}

@mixin bentonBd() {
    font-family: benton-sans, sans-serif;
    font-style: normal;
    font-weight: 700;
}

@mixin bentonBdIt() {
    font-family: benton-sans, sans-serif;
    font-style: italic;
    font-weight: 700;
}

@mixin font-size($size) {
    font-size: $size * 1px;
    font-size: $size * 0.1rem;
}

@mixin listReset() {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            padding: 0.2em 0;
        }
    }
}

@mixin fa-inline-prep() {
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0
}