.cta.sqr,
.actions li a {
    border: 3px solid black;
    color: black;
    font-weight: bold;
    display: inline-block;
    height: 36px;
    line-height: 30px;
    padding: 0 2rem;
    @include font-size(13);
    @include media-breakpoint-up(lg) {
        @include font-size(16);
        height: 40px;
        line-height: 34px;
    }
}
.cta.sqr:hover,
.actions li a:hover {
    border-color: red;
    color: red;
}
.banner {
    .cta.sqr,
    .actions li a {

        border-color: white;
        color: white;
    }
}
.cta-round {
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
    height: 4rem;
    line-height: 4rem;
    padding: 0 20px;
    @include font-size(14);
    @include media-breakpoint-up(lg) {
        @include font-size(16);
        padding: 0 30px;
    }
    background: #222;
    display: inline-block;
}
.cta-round.secondary {
    background: white;
    color: #222222;
}